*{
    margin: 0;
    padding: 0;
}




.navigationBar {
    background-color:black;
    height:  44px;
}

.box1{ 
    height: 580px;
    text-align: center;
    padding-top: 50px;

}

.h2{
    font-size: 56px;
}

.h3{
    font-size: 28px;
}

.link{ 
    text-decoration: none;
}

